<launch>
	<node pkg="object_detection" type="object_detection_node.py" name="detector" args="/node1" output="screen"/>
	<node pkg="object_detection" type="object_tracking_node.py" name="tracker" args="/node1" output="screen"/>
	<node pkg="object_detection" type="object_matching_node.py" name="matcher" args="/node1" output="screen"/>
</launch>
